:root {
    --pink: #BF348E;
    --purple: #471D59;
    --blue-purple: #7155D9;
    --black-purple: #080326;
    --blue: #38358C;
    --bright-purple: #61167B;
}

/* ANIMACIONES GENERALES */

@keyframes color {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

html, body {
    height: 100%;
    margin: 0;
}

html {
    background: linear-gradient(5deg, #22082A,  var(--bright-purple));
    background-size: 300% 300%;
    animation: color 10s ease infinite;
}

body {
    overflow: auto;
}

.navbar {
    background-color: var(--bright-purple);
    border-radius: 5px;
    box-shadow: 2px 7px 7px rgba(0, 0, 0, 0.3);
}
.custom-search {
    background-color: #f0f0f0; /* Color de fondo */
    color: #333333; /* Color del texto */
    border: 2px solid #007bff; /* Color del borde */
}
h1{
    font-family: Mansalva;
}