:root {
    --pink: #BF348E;
    --purple: #471D59;
    --blue-purple: #7155D9;
    --black-purple: #080326;
    --blue: #38358C;
    --bright-purple: #61167B;
}

/* ANIMACIONES GENERALES */

@keyframes color {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

html, body {
    height: 100%;
    margin: 0;
}

html {
    background: linear-gradient(5deg, var(--bright-purple), var(--black-purple));
    background-size: 300% 300%;
    animation: color 8s ease infinite;
}

body {
    overflow: auto;
}

.navbar {
    background-color: var(--bright-purple);
    border-radius: 5px;
    box-shadow: 2px 7px 7px rgba(0, 0, 0, 0.3);
}
.custom-search {
    background-color: #f0f0f0; /* Color de fondo */
    color: #333333; /* Color del texto */
    border: 2px solid #007bff; /* Color del borde */
}

h1 {
    font-family: Mansalva;
    font-size: clamp(10rem, 10vw + 8rem, 15rem);
    color: #f0f0f0;
}

.input{

    width: clamp(350px, 70vw, 800px);
    background-color: var(--blue-purple);
    color: black;
    border: 1px solid white;
    font-family: Mansalva;
}
.input::placeholder{
    color: black;
    text-align: center;
    font-size: clamp(1rem, 2vw + 0.4rem, 1.2rem);
    font-family: Mansalva;
}


/* GRID */

div .columns {
    margin-left: 10%;
}

.boton-categoria {
    background-color: var(--blue-purple);
    width: clamp(200px, 10%, 220px);
    box-shadow: 10px 10px 10px black;
    transition: 500ms all;
    font-family: Mansalva;
}

.boton-categoria:hover {
    scale: 1.1;
    filter: brightness(1.3)
}

/* FOOTER */

.footer {
    background-color: var(--black-purple);
}

footer {
    height: 10px;
}

.logo {
    width: clamp( 50px, 2vw, 100px);
    background-color: var(--black-purple);
}

.logo-button {
    background-color: var(--black-purple);
    border: none;
}